<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  
  <display-name>Web1</display-name>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>AnyName</servlet-name>
    <servlet-class>com.neo.controller.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>AnyName</servlet-name>
    <url-pattern>/loginUrl</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>empServlet</servlet-name>
    <servlet-class>com.neo.controller.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>empServlet</servlet-name>
    <url-pattern>/saveEmpUrl</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>empServletAction</servlet-name>
    <servlet-class>com.neo.controller.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>empServletAction</servlet-name>
    <url-pattern>/empUrl</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>updateEmployee</servlet-name>
    <servlet-class>com.neo.controller.UpdateEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateEmployee</servlet-name>
    <url-pattern>/editEmpUrl</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>intnServlet</servlet-name>
    <servlet-class>com.neo.controller.InTnServlet</servlet-class>
 </servlet>
  <servlet-mapping>
    <servlet-name>intnServlet</servlet-name>
    <url-pattern>/intnUrl</url-pattern>
  </servlet-mapping>
  
</web-app>